**/*.pyc
**/*.DS_Store
.vscode/
src/__pycache__/
build/

osrm/
**.osrm.**

venv

viz/**

house_images/**

# pip build
WLC.egg-info/**

# Comparison baseline lists
control_lists/**

# For privacy. Contact for access
input/example_universe.csv
debug.txt

*.osrm
*.osm.pbf

regions/

node_modules/